{%extends 'index.html'%} {% block contenido %}{% load static %}

<h1 class="text-center">Indicadores</h1>
<hr class="red" />

<div class="row text-center">
  <div class="col-sm-6 col-md-4 col-md-offset-2">
    <img data-ruta="{% static 'indicadores/estadisticos.pdf' %}" onclick="showPdfModal(this.dataset.ruta)"
      src="{% static 'indicadores/estadisticos.jpg' %}" class="img-responsive btn-modal" />
  </div>
  <div class="col-sm-6 col-md-4">
    <img data-ruta="{% static 'indicadores/matricula.pdf' %}" onclick="showPdfModal(this.dataset.ruta)"
      src="{% static 'indicadores/matricula.jpg' %}" class="img-responsive btn-modal" />
  </div>
</div>
{% endblock %}

{% block title1 %}Indicadores | CECyTEs{% endblock %}
{% block title2 %}Indicadores | CECyTEs{% endblock %}
{% block title3 %}Indicadores | CECyTEs{% endblock %}