<!-- MODAL TEXTO -->

<div class="modal fade" id="modal-texto">
  <div class="modal-dialog modal-lg" style="min-height: 10em">
    <div class="modal-content" style="min-height: 10em"> 
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text-justify" id="p-texto"></p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL TEXTO (MOSTRAR TEXTO CON ESTILO Y FORMATO) -->

<div class="modal fade" id="modal-texto2">
  <div class="modal-dialog modal-lg" style="min-height: 10em">
    <div class="modal-content" style="min-height: 10em"> 
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="texto-editor"></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PDF -->

<div class="modal fade" id="modal-pdf">
  <div class="modal-dialog modal-lg" style="height: 35em">
    <div class="modal-content" style="height: 35em">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="pdf-modal-body"></div>
    </div>
  </div>
</div>

<!-- MODAL VIDEO -->

<div class="modal fade" id="modal-video">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="video-modal-body"></div>
    </div>
  </div>
</div>
<!-- MODAL VIDEO YOUTUBE -->
<div class="modal fade" id="modal-youtube">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="youtube-modal-body"></div>
    </div>
  </div>
</div> 
<!-- MODAL IMAGEN -->

<div class="modal fade" id="modal-imagen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="imagen-modal-body"></div>
    </div>
  </div>
</div>

<!-- MODAL cuestionario -->

<div class="modal fade" id="modal-cuestionario">
  <div class="modal-dialog modal-lg" style="min-height: 10em">
    <div class="modal-content" style="min-height: 10em">
      <div class="modal-header" style="background-color: white">
        <strong  style="color:#9D2449; text-align:justify;">Con el propósito de contar con indicadores para el Escalamiento de la Educación Dual en los Colegios, 
          le solicitamos llenar los siguientes campos.</strong>
           <hr class="red" />
        <a href="https://www.cecytec.edu.mx/" target="_blank" class="btn btn-primary btn-sm">Ir a la página del colegio</a>
      </div>
      <div class="modal-body">
        <form  role="form">

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" for="email-01">1.	Información Personal</label>
              <div class="form-group">
                <label class="col-sm-5 control-label" for="email-03">Nombre :</label>
                <div class="col-sm-7">
                  <input class="form-control" id="email-03" placeholder="" value="Fabricio Javier Ramos Terrazas" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label" for="email-03">Puesto :</label>
                <div class="col-sm-7">
                  <input class="form-control" id="email-03" placeholder="" value="Gestor de Vinculación" type="text" style="margin-top: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label" for="email-03">Correo electrónico  :</label>
                <div class="col-sm-7">
                  <input class="form-control" id="email-03" placeholder="" value="mfrevuelta@gmail.com" type="text" style="margin-top: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label" for="email-03">Teléfono  :</label>
                <div class="col-sm-7">
                  <input class="form-control" id="email-03" placeholder="" type="number" value="8444271369" style="margin-top: 5px;">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
                  <label class="control-label" for="email-01">2. Seleccione el estado:</label>
                  <select class="form-control">
                    <option>Aguascalientes</option>
                    <option>Baja California</option>
                    <option>Baja California Sur</option>
                    <option>Campeche</option>
                    <option selected>Coahuila</option>
                    <option>Chiapas</option>
                    <option>Chihuahua</option>
                    <option>Durango</option>
                    <option>Guanajuato</option>
                    <option>Guerrero</option>
                    <option>Hidalgo</option>
                    <option>Jalisco</option>
                    <option>México</option>
                    <option>Michoacán</option>
                    <option>Morelos </option>
                    <option>Nayarit</option>
                    <option>Nuevo León</option>
                    <option>Oaxaca</option>
                    <option>Puebla</option>
                    <option>Querétaro</option>
                    <option>Quintana Roo</option>
                    <option>San Luis Potosí</option>
                    <option>Sinaloa</option>
                    <option>Sonora </option>
                    <option>Tabasco</option>
                    <option>Tamaulipas</option>
                    <option>Tlaxcala</option>
                    <option>Veracruz</option>
                    <option>Yucatán</option>
                    <option>Zacatecas</option>
                  </select>
            </div>
            <div class="form-group col-md-8">
              <label class="control-label" for="email-01">3. ¿Cuántos planteles de CECyTE existen en el Estado?</label>
              <input class="form-control" id="email-03" placeholder="Sin considerar EMSaD" value="40" type="number">
            </div>
         </div>
         <div class="row">
              <div class="form-group col-md-12">
                <label class="control-label" for="email-01">4. ¿Cuántos CECyTEs operan la educación dual en el Estado?</label>
                <input class="form-control" id="email-03" value="7" placeholder="" type="number">
              </div>
          </div>   
          <div class="row">
              <div class="form-group col-md-12">
                <label class="control-label" for="email-01">5. ¿Cuántos estudiantes duales hay actualmente en su Colegio?</label>
                <input class="form-control" id="email-03" placeholder="" value="42" type="number">
              </div>
         </div>
         <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">6. ¿Utilizan la plataforma de aprendizaje de la COSFAC?</label>
            <input class="form-control" id="email-03" placeholder="" value="SÍ" type="number">
          </div>
         </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">7. ¿Cuántas carreras tiene registradas en la modalidad de educación dual?</label>
            <input class="form-control" id="email-03" placeholder="" value="7" type="number">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">8. ¿Cuáles son?</label>
            <input class="form-control" id="email-03" placeholder="" value="Electromecánica, Máquinas Herramienta, Mecatrónica, Mantenimiento Industrial, Producción Industrial, Programación, Seguridad, Higiene y Protección Civil" type="text">
          </div>
        </div>
        <div class="row">  
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">9. ¿Cuáles son los tipos de industria que predominan en la demarcación de los CECyTEs del Estado?</label>
            <select class="form-control">
              <option selected>Automotores</option>
              <option>Siderúrgica</option>
              <option>Metalúrgica</option>
              <option>Naviera</option>
              <option>Ferrocarriles</option>
              <option>Cemento</option>
              <option>Otro</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">10. Mencione el nombre de las empresas del sector industrial más importantes, que se ubican en el Estado</label>
            <input class="form-control" id="email-03" placeholder="" value="General Motors, Mubea, Mabe, Magna, Isringhausen, Caterpillar" type="text">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">11. Mencione el nombre de las empresas del sector terciario más relevantes que se ubican en el Estado</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Gobierno:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Salud/Hospitales:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Educación:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Banca:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Seguros:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;"> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="email-03">Servicios financieros :</label>
            <div class="col-sm-8">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Seguros legales:</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email-03">Otro (mencione cual):</label>
            <div class="col-sm-9">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">12. ¿Cuántas personas de su Colegio se encuentran capacitadas en el Modelo de Formación Dual?</label>
            <input class="form-control" id="email-03" placeholder="" value="0" type="number">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">13.	¿Qué empresa(s) u oficina(s) los capacitó?</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="email-01">Nombre de la empresa u oficina</label>
            <input class="form-control" id="email-03" placeholder="" type="text">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="email-01">Tipo de organización</label><br>
            <label>
              <input type="checkbox" value="opcion-01"> Pública
            </label>
            <label>
              <input type="checkbox" value="opcion-02"> Privada
            </label>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">14.	¿Cuántas personas certificadas hay en el Colegio en los estándares de competencia el CONOCER?</label>
            <input class="form-control" id="email-03" placeholder="" type="number">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">15.	Mencione los estándares de competencia en los que se encuentran certificados</label>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label" for="email-03">No. de personas certificadas :</label>
            <div class="col-sm-7">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="email-03">Estándar de competencia :</label>
            <div class="col-sm-8">
              <input class="form-control" id="email-03" placeholder="Nombre de las empresas" type="text" style="margin-top: 5px;">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">16.	¿Cuenta con un coordinador educativo del Modelo de Formación Dual en el Estado?</label>
            <select class="form-control">
              <option selected>Sí</option>
              <option>No</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">17.	¿Con cuanta temporalidad realiza las visitas de seguimiento a los estudiantes duales?</label>
            <select class="form-control">
              <option>Semanal</option>
              <option>Quincenal</option>
              <option selected>Mensual</option>
              <option>Bimestral</option>
              <option>Otro</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label" for="email-01">18.	¿Cuenta con planes de rotación para los estudiantes duales?</label>
            <select class="form-control">
              <option>No</option>
              <option selected>Sí</option>
            </select>
            <div class="form-group">
              <label class="col-sm-5 control-label" for="email-03">¿De cuántos estudiantes duales?:</label>
              <div class="col-sm-7">
                <input class="form-control" id="email-03" placeholder="" type="number" style="margin-top: 5px;">
              </div>
            </div>
          </div>
        </div>
        </form>
        <center>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1e5P6CSqI0SKIT_jYl5aRk0ENVjAGsinh" width="640" height="480"></iframe>
      </center>
      </div>
    </div>
  </div>
</div>

