<!-- MODAL TEXTO -->

<div class="modal fade" id="modal-texto">
  <div class="modal-dialog modal-lg" style="min-height: 10em">
    <div class="modal-content" style="min-height: 10em">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text-justify" id="p-texto"></p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PDF -->

<div class="modal fade" id="modal-pdf">
  <div class="modal-dialog modal-lg" style="height: 35em">
    <div class="modal-content" style="height: 35em">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="pdf-modal-body"></div>
    </div>
  </div>
</div>

<!-- MODAL IMAGEN -->

<div class="modal fade" id="modal-imagen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: white">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="imagen-modal-body"></div>
    </div>
  </div>
</div>
