{% extends 'index.html' %}
{% load static %}


{% block contenido %}

<div id="carousel-banners" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for elemento in elementos_banners %}
    <li data-target="#carousel-banners" data-slide-to="{{ elemento.id } }"  class="{% if forloop.first %} active {% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for elemento in elementos_banners %}
    <div class="item {% if forloop.first %} active {% endif %}">
      <img loading="lazy" src="{% static ruta_banners|add:elemento.archivo_vista %}" alt="First slide"
      class="img-responsive" />
    </div>
    {% endfor %}
  </div>    
  <a class="left carousel-control" href="#carousel-banners" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-banners" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>


<h3>Anuncios</h3>
<hr class="red">

<div class="row">
  {% for elemento in elementos_anuncios %}
  <div class="col-md-4">
    {% include 'boton_modal.html' with ruta=ruta_anuncios %}
  </div>
  {% endfor %}
</div>


<h3>Sitios de la Coordinación</h3>
<hr class="red">
<div class="row">
  <div class="col-md-4">
    <a target="_blank" href="https://dgeti.cecyte.edu.mx/"><img loading="lazy" class="img-responsive btn-modal"
        src="{% static 'inicio/covid.jpg' %}" title="Planteles COVID" /></a>
  </div>
  <div class="col-md-4">
    <a target="_blank" href="https://certificados.cecyte.edu.mx/"><img loading="lazy" class="img-responsive btn-modal"
        src="{% static 'inicio/sisec.jpg' %}" title="SISEC" /></a>
  </div>
  <div class="col-md-4">
    <a target="_blank" href="https://cuestionario.cecyte.edu.mx/CuestionarioEscuela"><img loading="lazy" class="img-responsive btn-modal"
        src="{% static 'inicio/cedula.jpg' %}" title="Actualizar cedula plantel" /></a>
  </div>
</div>


<h3>Noticias</h3>
<hr class="red">
<div class="row">
  {% for elemento in datos %}
  <div class="col-md-4">
    <div id="carousel-banners{{ elemento.0.id }}" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% if elemento.1 %}
        {% for img in elemento.1 %}
        <div class="item {% if forloop.first %} active {% endif %}" style="width: 100%;height: 15em;">
          {% if elemento.0.video %}
            <img loading="lazy" src="{% static ruta_noticias|add:img.imagenes %}" alt="First slide"
            oclass="img-responsive btn-modal" style="height: 100%;width: 100%;"
            data-video="{% static ruta_noticias|add:elemento.0.video %}"
            data-poster="{% static ruta_noticias|add:elemento.0.archivo_vista %}"  
            onclick="showModalVideo(this.dataset.video, this.dataset.poster)"/> 
          {% else %}
            <img loading="lazy" src="{% static ruta_noticias|add:img.imagenes %}" alt="First slide"
            oclass="img-responsive btn-modal" style="height: 100%;width: 100%;"/>
          {% endif %}                        
        </div> 
        {% endfor %} 
        {% else %}
          <div class="item active" style="width: 100%;height: 15em;">
          {% if elemento.0.video %}
            {%  if elemento.0.opcion_video == 2 %}
              <img loading="lazy" src="{% static ruta_noticias|add:elemento.0.archivo_vista %}" alt="First slide"
              class="img-responsive btn-modal" style="height: 100%;width: 100%;" 
              data-video="/recursos/{{ruta_noticias}}{{elemento.0.video}}"
              data-poster="{% static ruta_noticias|add:elemento.0.archivo_vista %}" 
              onclick="showModalVideo(this.dataset.video, this.dataset.poster)"/>
            {% else %}
              <img loading="lazy" src="{% static ruta_noticias|add:elemento.0.archivo_vista %}" alt="First slide"
              class="img-responsive btn-modal" style="height: 100%;width: 100%;" 
              data-video="{{ elemento.0.video }}"
              onclick="showModalYoutube(this.dataset.video)"/>              
            {% endif %}  
          {% else %} 
            <img loading="lazy" src="{% static ruta_noticias|add:elemento.0.archivo_vista %}" alt="First slide"
            class="img-responsive btn-modal" style="height: 100%;width: 100%;"/>
          {% endif %}      
          </div>           
        {% endif %}
      </div> 
      <a class="left carousel-control" href="#carousel-banners{{ elemento.0.id }}" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="#carousel-banners{{ elemento.0.id }}" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Siguiente</span>
      </a>            
    </div>
    {% include 'div_noticia.html' with ruta=ruta_noticias %}
  </div>
  {% endfor %}
</div>

<h3>Síguenos</h3>
<hr class="red">
<div class="row">
  <div class="col-md-6">
    <span style='margin-top:15px;'>
      <a class="twitter-timeline" data-lang='es' 
      data-width='450' data-height='525' data-dnt='true' 
      data-theme='light' href="https://twitter.com/ccecyte?ref_src=twsrc%5Etfw">Tweets by ccecyte</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </span>
  </div>
  <div class="col-md-6">
    <iframe style='margin-top:15px;' 
    src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCoordinacionCECyTE%2F&tabs=timeline&width=450&height=525&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' 
    width='450' height='520' style='border:none;overflow:hidden' scrolling='no' 
    frameborder='0' allowTransparency='true' allow='encrypted-media'></iframe>    
  </div>
</div>


{% endblock contenido %}
