<form>
    <div class="form-group">
      <label for="latitud">1. Coordenadas latitud (formato decimal)</label>
      <input type="text" class="form-control" id="latitud" aria-describedby="emailHelp" value= "{{ informacion.latitud }}" disabled>
    </div>
    <div class="form-group">
      <label for="longitud">2. Coordenadas longitud (formato decimal)</label>
      <input type="text" class="form-control" id="longitud" aria-describedby="emailHelp" value= "{{ informacion.longitud }}" disabled>
    </div>
    <div class="form-group">
      <label for="calle">3. Calle</label>
      <input type="email" class="form-control" id="calle" aria-describedby="emailHelp" value= "{{ informacion.calle }}" disabled>
    </div>
    <div class="form-group">
      <label for="no_ext">4. No. exterior</label>
      <input type="text" class="form-control" id="no_ext" aria-describedby="emailHelp" value= "{{ informacion.no_exterior }}" disabled>
    </div>
    <div class="form-group">
      <label for="no_interior">5. No. interior</label>
      <input type="text" class="form-control" id="no_interior" aria-describedby="emailHelp" value= "{{ informacion.no_interior }}" disabled>
    </div>
    <div class="form-group">
      <label for="colonia">6. Colonia</label>
      <input type="text" class="form-control" id="colonia" aria-describedby="emailHelp" value= "{{ informacion.colonia }}" disabled>
    </div>
    <div class="form-group">
      <label for="municipio">7. Municipio</label>
      <input type="text" class="form-control" id="municipio" aria-describedby="emailHelp" value= "{{ informacion.municipio }}" disabled>
    </div>
    <div class="form-group">
      <label for="localidad">8. Localidad</label>
      <input type="text" class="form-control" id="localidad" aria-describedby="emailHelp" value="{{ informacion.localidad }}" disabled>
    </div>
    <div class="form-group">
      <label for="entidad_federativa">9. Entidad Federativa</label>
      <input type="text" class="form-control" id="entidad_federativa" aria-describedby="emailHelp" value= "{{ informacion.entidad_federativa }}" disabled>
    </div>
    <div class="form-group">
      <label for="codigo_postal">10. Codigo Postal</label>
      <input type="text" class="form-control" id="codigo_postal" aria-describedby="emailHelp" value= "{{ informacion.codigo_postal }}" disabled>
    </div>
    <div class="form-group">
      <label for="ciudad">11. Ciudad o población</label>
      <input type="text" class="form-control" id="ciudad" aria-describedby="emailHelp" value= "{{ informacion.ciudad }}" disabled>
    </div>
    <div class="form-group">
      <label for="telefono">12. Telefono</label>
      <input type="text" class="form-control" id="telefono" aria-describedby="emailHelp" value= "{{ informacion.telefono }}" disabled>
    </div>
    <div class="form-group">
      <label for="pagina_web">13. Página web</label>
      <input type="text" class="form-control" id="pagina_web" aria-describedby="emailHelp" value= "{{ informacion.pagina_web }}" disabled>
    </div>
    <div class="form-group">
      <label for="correo_electronico">14. Correo electrónico</label>
      <input type="text" class="form-control" id="correo_electronico" aria-describedby="emailHelp" value= "{{ informacion.correo_electronico }}" disabled>
    </div>
    <div class="form-group">
      <label for="existen_planos">15. Existen planos del plantel</label>
      <input type="text" class="form-control" id="existen_planos" aria-describedby="emailHelp" value= "{{ informacion.existen_planos }}" disabled>
    </div>
    <div class="form-group">
      <label for="archivado_en">16. Archivado en </label>
      <input type="text" class="form-control" id="archivado_en" aria-describedby="emailHelp" value= "{{ informacion.archivado_en }}" disabled>
    </div>
    <div class="form-group">
      <label for="colinda_norte">17. El plantel colinda al norte:</label>
      <input type="text" class="form-control" id="colinda_norte" aria-describedby="emailHelp" value= "{{ informacion.colinda_norte }}" disabled>
    </div>
    <div class="form-group">
      <label for="colinda_sur">18. El plantel colinda al sur:</label>
      <input type="text" class="form-control" id="colinda_sur" aria-describedby="emailHelp" value= "{{ informacion.colinda_sur }}" disabled>
    </div>
    <div class="form-group">
      <label for="colinda_este">19. El plantel colinda al este:</label>
      <input type="text" class="form-control" id="colinda_este" aria-describedby="emailHelp" value= "{{ informacion.colinda_este }}" disabled>
    </div>
    <div class="form-group">
      <label for="colinda_oeste">20. El plantel colinda al oeste:</label>
      <input type="text" class="form-control" id="colinda_oeste" aria-describedby="emailHelp" value= "{{ informacion.colinda_oeste }}" disabled>
    </div>
    <div class="form-group">
      <label for="internet">21. Cuenta con conectividad a internet</label>
      <input type="text" class="form-control" id="internet" aria-describedby="emailHelp" value= "{{ informacion.internet }}" disabled>
    </div>
  </form>