<form>
  <div class="form-group col-sm-12">
    <label for="latitud">¿En tu plantel opera el MFD?</label>
    <input type="text" class="form-control"  value="{{vinculacion.mfd}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos convenios tienes vigentes?</label>
    <input type="text" class="form-control"  value="{{vinculacion.convenios}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Trabajas el MFD a través de Cámara Empresariales?</label>
    <input type="text" class="form-control"  value="{{vinculacion.mfd_camara}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos tienes matriculados en MFD?</label>
    <input type="text" class="form-control"  value="{{vinculacion.mfd_alumnos}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos matriculados en el MFD cuentan con beca Elisa Acuña?</label>
    <input type="text" class="form-control"  value="{{vinculacion.mfd_beca}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos convenios vigentes tienes con instituciones públicas?</label>
    <input type="text" class="form-control"  value="{{vinculacion.convenios_publicas}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos convenios vigentes tienes con instituciones privadas?</label>
    <input type="text" class="form-control"  value="{{vinculacion.convenios_privadas}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos convenios vigentes tienes para servicio social?</label>
    <input type="text" class="form-control"  value="{{vinculacion.convenios_servicio}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos convenios vigentes tienes para prácticas profesionales?</label>
    <input type="text" class="form-control"  value="{{vinculacion.convenios_practicas}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Qué redes sociales manejas institucionales del plantel? (Facebook/Twitter/Instagram)</label>
    <input type="text" class="form-control"  value="{{vinculacion.redes_sociales}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos participaron en tu último Concurso Estatal de Creatividad?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_creatividad}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos participaron en tu último Concurso Estatal de Arte y Cultura?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_arte}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos equipos deportivos representativos, tienes en el plantel?</label>
    <input type="text" class="form-control"  value="{{vinculacion.equipos_deportivos}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿En qué disciplinas?</label>
    <input type="text" class="form-control"  value="{{vinculacion.disciplinas}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuentas con Comité Técnico de Vinculación Estatal?</label>
    <input type="text" class="form-control"  value="{{vinculacion.comite_estatal}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuentas con Comité Técnico de Vinculación Regional?</label>
    <input type="text" class="form-control"  value="{{vinculacion.comite_regional}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuentas con algún tipo de modelo de emprendimiento?</label>
    <input type="text" class="form-control"  value="{{vinculacion.emprendimiento}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos estudiantes tienes matriculados en la Beca Benito Juárez?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_benito}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Qué porcentaje representa de tu matricula total?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_benito_porcentaje}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos estudiantes tienes matriculados en la Beca Estímulo Elisa Acuña para Formación Dual?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_beca_dual}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos tienes matriculados en la Beca Estímulo Elisa Acuña para Servicio Social?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_beca_servicio}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos alumnos tienes matriculados en la Beca Estímulo Elisa Acuña para Prácticas Profesionales?</label>
    <input type="text" class="form-control"  value="{{vinculacion.alumnos_beca_practicas}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos docentes tienes matriculados en la Beca Estímulo Elisa Acuña para Profesionalización Docente?</label>
    <input type="text" class="form-control"  value="{{vinculacion.docentes_beca}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos egresados totales tienes en el ciclo escolar 2016-2019?</label>
    <input type="text" class="form-control"  value="{{vinculacion.egresados_2016}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">¿Cuántos egresados totales tienes en el ciclo escolar 2017-2020?</label>
    <input type="text" class="form-control"  value="{{vinculacion.egresados_2017}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">Porcentaje de egresados de la generación 2017-2020 que ingresaron a estudios superiores:</label>
    <input type="text" class="form-control"  value="{{vinculacion.egresados_2017_superior}}"  disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="latitud">Porcentaje de egresados de la generación 2017-2020 que se incorporaron al sector laboral</label>
    <input type="text" class="form-control"  value="{{vinculacion.egresados_2017_laboral}}"  disabled>
  </div>
   <div class="form-group col-sm-12">
    <label for="latitud">¿Cuáles son los principales sectores, productos y servicios de la región?</label>
    <input type="text" class="form-control"  value="{{vinculacion.sectores_productos}}"  disabled>
  </div>
</form>