{% load static %}
{% block contenido %}
<form>

    <div class="form-group col-md-4">
        <div>
            <p>Entidad</p>
        </div>
        <div>
            <select name="cboentidad" id="cboentidad" onchange="listarPlanteles(this.value);" class="form-control">
                <option value="-1">-- Selecciona una opcion --</option>
                {% for estado in estados %}
                
                <option value="{{ estado.id }}">{{ estado.nombre }}</option>

                {% endfor %}

            </select>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div>
            <p>Plantel</p>
        </div>
        <div id="div-plantel">
            {% include 'cecyte/detalle_cecyte_plantel.html' %}
        </div>

    </div>

</form>
{% endblock %}
{%block js%}
<script>
    async function listarPlanteles(cboentidad) {
        divplantel=document.getElementById("div-plantel");
        divplantel.innerHTML = "";

        fetch("cecyte/planteles/"+cboentidad)
        .then(res => {
        return res.text();
        })
        .then(data => {
        divplantel.innerHTML =data
        });
            }

    async function mostrarInformacion(cboplantel) {
        divinformacion=document.getElementById("div-informacion");
        divinformacion.innerHTML = "";

        fetch("informacion/planteles/"+cboplantel)
        .then(res => {
        return res.text();
        })
        .then(data => {
        divinformacion.innerHTML =data
        });
            }
</script>
{% endblock %}