<form>
  <div class="form-group col-sm-12">
    <label for="latitud">Número de Niveles Construidos</label>
    <input type="text" class="form-control" value="{{ infraestructura.niveles }}" disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="longitud">Superficie Total del Terreno</label>
    <input type="text" class="form-control" value="{{ infraestructura.superficie_total }}" disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="calle">Superficie Libre</label>
    <input type="email" class="form-control" value="{{ infraestructura.superficie_libre }}" disabled>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <label for="no_ext">Infraestructura Urbana con la que cuenta el Plantel</label><br>
  </div>
    <div class="form-group col-sm-12" >
    <input type="text" class="form-control" value="{{ infraestructura.superficie_urbana }}" disabled>
  </div>
  </div>
  
   <div>
  <div class="form-group col-sm-12">
    <label for="no_ext">Uso del Plantel</label><br>
  </div>
    <div class="form-group col-sm-12" >
    <input type="text" class="form-control" value= "{{ infraestructura.uso_plantel }}" disabled>
  </div>
  </div>
  
  <div class="form-group col-sm-12">
    <label for="calle">Estado de conservación del Plantel</label>
    <input type="email" class="form-control" value= "{{ infraestructura.conservacion }}" disabled>
  </div>
  <div class="form-group col-sm-12">
    <label for="calle">Número de Personas que labora en el plantel</label>
    <input type="email" class="form-control" value= "{{ infraestructura.personas_laboran }}" disabled>
  </div>
  <h3>Seleccionar si el plantel cuenta con la siguiente Infraestructura:</h3>
  <h3>Aulas</h3>
    <hr class="red">
    <div class="form-group col-sm-6" >
    <label for="calle">Cuenta con</label>
    <input id=aulaTiene type="email" class="form-control" onload=booleanToString(); value={{infraestructura.aulas_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label for="calle">Funcionalidad:</label>
    <input type="email" class="form-control" value= "{{ infraestructura.aulas_funcionalidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label for="calle">Cantidad:</label>
    <input type="email" class="form-control" value= "{{ infraestructura.aulas_cantidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Laboratorios</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= "{{ infraestructura.laboratorios_tiene }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.laboratorios_funcionalidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Cantidad:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.laboratorios_cantidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Especificar laboratorios:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.laboratorios_especificar }}" disabled>
  </div>
  </div>
  
    <div>
  <div class="form-group col-sm-12">
    <h3>Talleres</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= "{{ infraestructura.talleres_tiene }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.talleres_funcionalidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Cantidad de talleres</label>
    <input type="text" class="form-control" value= "{{ infraestructura.talleres_cantidad }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Especificar talleres</label>
    <input type="text" class="form-control" value= "{{ infraestructura.talleres_especificar }}" disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Salón de usos múltiple</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= "{{ infraestructura.salon_usos_multiple_tiene }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.salon_usos_multiple_funcionalidad }}" disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Auditorio</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= "{{ infraestructura.auditorio_tiene }}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= "{{ infraestructura.auditorio_funcionalidad }}" disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Biblioteca</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= "{{infraestructura.biblioteca_tiene}}" disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= "{{infraestructura.biblioteca_funcionalidad}}" disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Plaza cívica</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= {{infraestructura.plaza_civica_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= {{infraestructura.plaza_civica_funcionalidad}} disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >Techada</label>
    <input type="text" class="form-control" value= {{infraestructura.plaza_civica_techada}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Tipo de techado</label>
    <input type="text" class="form-control" value= {{infraestructura.plaza_civica_tipo}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Jardineras</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= {{infraestructura.jardineras_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= {{infraestructura.jardineras_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Áreas Verdes</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= {{infraestructura.areas_verdes_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= {{infraestructura.areas_verdes_funcionalidad}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label for="calle">Metros cuadrados</label>
    <input type="email" class="form-control" value= {{infraestructura.areas_verdes_metros}} disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Bebederos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value= {{infraestructura.bebederos_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value= {{infraestructura.bebederos_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Rampa para personas con discapacidad diferentes</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.rampa_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.rampa_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Instalaciones Deportivas</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.deportivas_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.deportivas_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Canchas de Futbol Soccer</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.futbol_soccer_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.futbol_soccer_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Canchas de Futbol Rapido</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.futbol_rapido_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.futbol_rapido_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Canchas de Basquetbol</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.basquetbol_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.basquetbol_funcionalidad}} disabled>
  </div>
  </div>
  
    <div>
  <div class="form-group col-sm-12">
    <h3>Andadores / Pasillos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.andadores_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.andadores_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Andadores / Pasillos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.andadores_cantidad}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.andadores_funcionalidad}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Cuántos?</label>
    <input type="text" class="form-control" value={{infraestructura.andadores_cantidad}} disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  </div>
  
   <div>
  <div class="form-group col-sm-12">
    <h3>Pórtico</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.portico_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.portico_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Cafetería</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.cafeteria_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.cafeteria_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Edificios</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.edificios_tiene}} disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.edificios_funcionalidad}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Módulos administrativos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.modulos_administrativos_tiene}} disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Dirección</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.direccion_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.direccion_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Control Escolar</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.control_escolar_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.control_escolar_funcionalidad}}  disabled>
  </div>
  </div>
  
    <div>
  <div class="form-group col-sm-12">
    <h3>Servicio Social</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.servicio_social_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.servicio_social_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Prefectura</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.prefectura_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.prefectura_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Área Administrativa</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.area_administrativa_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.area_administrativa_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Área Académica</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.area_academica_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.area_academica_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Área de Planeación</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.area_planeacion_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.area_planeacion_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Área de Vinculación</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.area_vinculacion_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.area_vinculacion_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Área de Nivel de éstres</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.area_estres_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.area_estres_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sala de maestros</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sala_maestros_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sala_maestros_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Cerco perimetral</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.cerco_perimetral_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.cerco_perimetral_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >De qué tipo?</label>
    <input type="text" class="form-control" value={{infraestructura.cerco_perimetral_tipo}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Metros lineales</label>
    <input type="text" class="form-control" value={{infraestructura.cerco_perimetral_metros}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Puertas o Accesos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.puertas_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.puertas_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Caseta de Vigilancia</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.caseta_vigilancia_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.caseta_vigilancia_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sistema Hidroneumático</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sistema_hidro_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sistema_hidro_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Subestación Eléctrica</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.estacion_elec_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.estacion_elec_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Transformador</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.transformador_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.transformador_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Tablero General</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.tablero_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.tablero_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Planta de energía eléctrica</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.planta_energia_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.planta_energia_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Aire acondicionado (Lavado)</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.aire_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.aire_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Equipos Minisplit</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.minisplit_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.minisplit_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >Cuántos?</label>
    <input type="text" class="form-control" value={{infraestructura.minisplit_cuantos}}  disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Calefacción</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.calefaccion_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.calefaccion_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >Cuántos?</label>
    <input type="text" class="form-control" value={{infraestructura.calefaccion_cuantos}}  disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Instalaciones contra Incendio</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.incendio_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.incendio_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >Cuántos?</label>
    <input type="text" class="form-control" value={{infraestructura.incendio_cuantos}}  disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Equipo de Bombeo</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.bombeo_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.bombeo_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >Cuántos?</label>
    <input type="text" class="form-control" value={{infraestructura.bombeo_cuantos}}  disabled>
  </div>
  <div class="form-group col-sm-6">
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Detectores de Humo</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.humo_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.humo_funcionalidad}}  disabled>
  </div>
  </div>
  
    <div>
  <div class="form-group col-sm-12">
    <h3>Equipos de Alertamiento Sísmico</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sismo_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sismo_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sanitario para estudiantes</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_estudiantes_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_estudiantes_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >¿Cuántos son para hombres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_estudiantes_hombre}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>¿Cuántos son para mujeres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_estudiantes_mujer}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sanitario para Docentes</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_docentes_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_docentes_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >¿Cuántos son para hombres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_docentes_hombre}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>¿Cuántos son para mujeres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_docentes_mujer}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sanitarios para Administrativos</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_administrativos_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_administrativos_funcionalidad}}  disabled>
  </div>
  <div class="form-group col-sm-6" >
    <label >¿Cuántos son para hombres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_administrativos_hombre}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>¿Cuántos son para mujeres?</label>
    <input type="text" class="form-control" value={{infraestructura.sanitarios_administrativos_mujer}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Fosa séptica</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.fosa_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.fosa_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Pozo de absorción</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.pozo_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.pozo_funcionalidad}}  disabled>
  </div>
  </div>
  
  <div>
  <div class="form-group col-sm-12">
    <h3>Sistema de Drenaje</h3>
    <hr class="red">
  </div>
    <div class="form-group col-sm-6" >
    <label >Cuenta con</label>
    <input type="text" class="form-control" value={{infraestructura.drenaje_tiene}}  disabled>
  </div>
  <div class="form-group col-sm-6">
    <label>Funcionalidad:</label>
    <input type="text" class="form-control" value={{infraestructura.drenaje_funcionalidad}}  disabled>
  </div>
  </div>
  
</form>

{%block js%}
<script>
    function booleanToString() {
        aula=document.getElementById("aulaTiene").nodeValue;
        if(aula==1){
          aula = "Si"
        }
    }
</script>
{% endblock %}