{% block contenido %}
        <div class="container col-md-12">
            <div class="row ">
                <div class="container red">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a data-toggle="tab" href="#tab-05" data-toggle="tooltip" title="Click">Datos
                                Plantel</a></li>
                        <li><a data-toggle="tab" href="#tab-06" data-toggle="tooltip" title="Click">Datos Estadisticos</a>
                        </li>
                        <li><a data-toggle="tab" href="#tab-07" data-toggle="tooltip" title="Click">Escolaridad</a></li>
                        <li><a data-toggle="tab" href="#tab-08" data-toggle="tooltip" title="Click">Oferta educativa</a>
                        </li>
                        <li><a data-toggle="tab" href="#tab-09" data-toggle="tooltip" title="Click">Datos
                                Infraestructura</a></li>
                        <li><a data-toggle="tab" href="#menu1" data-toggle="tooltip" title="Click">Área Jurídica</a></li>
                        <li><a data-toggle="tab" href="#menu2" data-toggle="tooltip" title="Click">Área Vinculación</a>
                        </li>
                    </ul>
                    <div id="div-idInformacion">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="menu1">{% include 'cecyte/area_juridica.html' %}</div>
                            <div role="tabpanel" class="tab-pane" id="menu2">{% include 'cecyte/datos_vinculacion.html' %}</div>
                            <div role="tabpanel" class="tab-pane active" id="tab-05">{% include 'cecyte/datos_plantel.html' %}</div>
                            <div role="tabpanel" class="tab-pane" id="tab-06">{% include 'cecyte/datos_estadisticos.html' %}</div>
                            <div role="tabpanel" class="tab-pane" id="tab-07">{% include 'cecyte/datos_escolaridad.html' %}</div>
                            <div role="tabpanel" class="tab-pane" id="tab-08">{% include 'cecyte/oferta_educativa.html' %}</div>
                            <div role="tabpanel" class="tab-pane" id="tab-09">{% include 'cecyte/infraestructura.html' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}