<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Opcion Educcativa</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Turnos</th>
        <th scope="col">Grupos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="form-control" id="a" value= "{{oferta.nombre}}" disabled></td>
        <td><input type="text" class="form-control" id="a1" value= "{{oferta.opcion_educativa}}" disabled></td>
        <td><input type="text" class="form-control" id="a2" value= "{{oferta.modalidad}}" disabled></td>
        <td><input type="text" class="form-control" id="a3" value= "{{oferta.turnos}}" disabled></td>
        <td><input type="text" class="form-control" id="a3" value= "{{oferta.grupos}}" disabled></td>
      </tr>
    </tbody>
  </table>