{% load static %}
{% block contenido %}
<div class="row">
  <div class="form-group col-md-4">
    <label>Entidad</label>
    <select name="cboentidad" id="cboentidad" onchange="listarPlanteles(this.value);" class="form-control">
      <option value="0">-- Selecciona una opcion --</option>
      {% for estado in estados %}
      <option value="{{ estado.id }}">{{ estado.nombre }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group col-md-4">
    <label>Plantel</label>
    <select onchange="mostrarInformacion('select-plantel','select-periodo');" class="form-control" id="select-plantel">
      <option value="0">-- Selecciona una opcion --</option>
    </select>
  </div>

  <div class="form-group col-md-4">
    <label>Periodo</label>
    <select onchange="mostrarInformacion('select-plantel','select-periodo');" class="form-control" id="select-periodo">
      <option value="0">-- Selecciona una opcion --</option>
      {% for period in periodos %}
      <option value="{{ period.id }}">{{ period.periodo }}</option>
      {% endfor %}
    </select>
  </div>

</div>
<div id="div-informacion"></div>

{% endblock %}
{% block js %}
<script>
  async function listarPlanteles(id_estado) {
    select_plantel = document.getElementById("select-plantel");
    select_plantel.innerHTML = "";

    response = await fetch("cecyte/planteles/" + id_estado)
    html = await response.text();
    select_plantel.innerHTML = html
  }

  async function mostrarInformacion(idplantel, idperiodo) {
    divinformacion = document.getElementById("div-informacion");
    divinformacion.innerHTML = "";

    id_plantel = (idplantel != null) ? document.getElementById(idplantel).value : 0;
    idpe=(idperiodo !=null) ? document.getElementById(idperiodo).value :0;

    response = await fetch("informacion/planteles/" + id_plantel+"/"+idpe)
    html = await response.text();
    divinformacion.innerHTML = html
  }
</script>
{% endblock %}