{% if escolaridad %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nivel académico</th>
      <th scope="col">Directivo</th>
      <th scope="col">Docente</th>
      <th scope="col">Administrativo</th>
      <th scope="col">Servicios</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Doctorado</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_doctorado}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_doctorado}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_doctorado}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_doctorado}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Maestría</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_maestria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_maestria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_maestria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_maestria}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Especialización</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_especializacion}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_especializacion}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_especializacion}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_especializacion}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Licenciatura</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_licenciatura}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_licenciatura}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_licenciatura}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_licenciatura}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Superior</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_superior}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_superior}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_superior}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_superior}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Superior de maestros</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_superior_maestros}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_superior_maestros}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_superior_maestros}}" disabled>
      </td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_superior_maestros}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Bachillerato</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_bachillerato}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_bachillerato}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_bachillerato}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_bachillerato}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Técnico</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_tecnico}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_tecnico}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_tecnico}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_tecnico}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Comercial</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_comercial}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_comercial}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_comercial}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_comercial}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Secundaria</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_secundaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_secundaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_secundaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_secundaria}}" disabled></td>
    </tr>
    <tr>
      <th scope="row">Primaria</th>
      <td><input type="text" class="form-control" value="{{escolaridad.directivo_primaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.docente_primaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.administrativo_primaria}}" disabled></td>
      <td><input type="text" class="form-control" value="{{escolaridad.servicios_primaria}}" disabled></td>
    </tr>
  </tbody>
</table>
{% else %}
<div class="alert alert-warning">No se ha encontrado información de datos de escolaridad.</div>
{% endif %}
