{%extends 'index.html'%} {% block contenido %}
{% load static %}
<div class="row">
  <div class="col-sm-7">
    <h2>La página solicitada no se encuentra en este servidor</h2>
    <h3>Error 404</h3>
    <p>La página solicitada puede no estar disponible, haber cambiado de dirección (URL) o no existir. Con frecuencia es
      debido a algún error al escribir la dirección en la página (URL). Compruebe de nuevo si es correcta.</p>
    <hr>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <figure>
      <img src="{% static 'error.svg' %}" alt="Migrando a gob.mx">
    </figure>
    <h3>Otras opciones:</h3>
    <ul>
      <li><a href="http://www.gob.mx/">Regresar al inicio</a></li>
      <li><a href="http://www.gob.mx/busqueda">Buscar en gob.mx</a></li>
      <li><a href="javascript:history.back();">Volver a la página anterior</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block title1 %}No encontrado | CECyTEs {% endblock %}
{% block title2 %}No encontrado | CECyTEs {% endblock %}
{% block title3 %}No encontrado | CECyTEs {% endblock %}